<p>products</p>
<section class="result">
<div class="listing" *ngFor="let product of products">
  <h3 class="product_name">
    <a
      [title]="product.name + 'details'"
      [routerLink]="['/products', product.id]"
      >{{ product.name }}</a
    >
  </h3>
  <p *ngIf="product.description">{{ product.description }}</p>
  <button mat-raised-button (click)="share()">share</button>
  <app-product-alert
    [product]="product"
    (notify)="onNotify($event)"
  ></app-product-alert>
</div>
</section>

